<div class="app-home">
    <div class="row">

        <div class="col-md-8">

           <tabset>
              <tab heading="Tag manager">
                 <div class="input-group">
                    <tags-input ng-model="tags">
                       <auto-complete source="loadTags($query)" replace-spaces-with-dashes="false"></auto-complete>
                    </tags-input>
                    <span class="input-group-btn">
                       <button class="btn btn-success" type="button" ng-click="syncPeople('forward')" ng-class="{'disabled': tagsSyncVerification() === false}"
                               ng-disabled="tagsSyncVerification() === false">Sync</button>
                    </span>
                 </div>

                 <div>{{ tags }}</div>

                 <div>Current team: {{ currentTeam }}</div>

              </tab>
              <tab heading="Grid view">
                 <table class="table table-striped">
                    <thead>
                    <tr>
                       <th>Name</th>
                       <th>Age</th>
                       <th>Grade</th>
                       <th>Job</th>
                       <th>operations</th>
                    </tr>
                    <tr>
                       <th colspan="5">
                          <input placeholder="Search" class="input-sm form-control" type="search" ng-model="search.$" />
                       </th>
                    </tr>
                    </thead>
                 <tbody ng-repeat="row in peopleCollection | filter: search | limitTo : 10">
                    <tr ng-click="expandedState = !expandedState">
                       <td><span tooltip="{{row.grade}} {{row.job}}">{{row.name}}</span></td>
                       <td>{{row.age}}</td>
                       <td>{{row.grade}}</td>
                       <td>{{row.job}}</td>
                       <td>&nbsp;</td>
                    </tr>
                    <tr>
                       <td colspan="5" ng-show="expandedState"> Detailed info about {{ row.grade }} {{ row.job }} {{ row.name }}.
                          <button class="btn btn-primary" ng-click="addPerson(row.name)" ng-class="{'disabled': !currentTeam}" ng-disabled="!currentTeam">add me</button></td>
                    </tr>
                 </tbody>
                 </table>

                 <div>Current team: {{ currentTeam }}</div>

              </tab>
           </tabset>
        </div>

        <div class="col-md-4">
           <h4>Teams list</h4>
           <form name="newTeamForm" novalidate>
              <div class="input-group">
                 <input type="text" ng-model="newTeam.name" class="form-control" teamvalidator />
                 <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="addTeam()"
                            ng-disabled="newTeamForm.$invalid" ng-class="{'disabled': newTeamForm.$invalid}">Add team</button>
                 </span>
              </div>
           </form>

            <h4>Select team</h4>
           <accordion close-others="oneAtATime">
              <accordion-group heading="{{t.name}}" ng-repeat="(id, t) in teams" ng-click="setCurrentTeam(t.id)" is-open="expandTeam(t.id)" ng-class="{currentTeam: isCurrentTeam(t.id)}">
                 <ul>
                    <li ng-repeat="member in t.members">{{member.text}} <button class="btn btn-danger pull-right" ng-click="removeMember(member)"><i class="fa fa-times-circle"></i></button></li>
                 </ul>
              </accordion-group>
           </accordion>

        </div>

    </div>
</div>
